@model IEnumerable<BitCoupon.DAL.Models.Mail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw( item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new  { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new  { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
