@model BitCoupon.DAL.Models.FeedBack

@{
    Layout=null;
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChackBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChackBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedBackContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedBackContent)
        </dd>

    </dl>
</div>
